version: '3.9'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.0
    container_name: elasticsearch
    restart: always
    environment:
      discovery.type: single-node
    ports: 
      - 9200:9200

  kibana:
    image: docker.elastic.co/kibana/kibana:7.10.0
    container_name: kibana
    environment: 
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports: 
      - 5601:5601

  logstash:
    image: docker.elastic.co/logstash/logstash:7.10.0
    container_name: logstash
    restart: always
    volumes:
      - ./pipeline:/usr/share/logstash/pipeline:ro